*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* ----------HEADER---------- */
.header__false{
    height: 10vh;
    background-color: rgba(0, 0, 0, .95);
}
.header{
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 10vh;
    width: 100%;
    background-color: #25b5d9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.header.active{
    min-height: 60px;
    opacity: .95;
}

.header__list{
    font-weight: 300;
    font-size: 22px;
    list-style: none;
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.header__list__item{
    position: relative;
    color: #fffff0;
    text-decoration: none;
}
.header__list__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fffff0;
    border-top: 1px solid #fffff0;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}
.header__list__item:hover:before{
    transform: scaleY(1.5);
    opacity: 1;
}

.header__img{
    position: absolute;
    left: 100px;
    height: 100%;
    padding: 5px;
}



/* ----------SECTION INFO---------- */

.section__info{
    position: relative;
    background-image: url(pexels-photo-3740390.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    border-bottom: 3px solid #25b5d9;
}
.section__info::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
}

.info__logo img{
    width: 300px;
    position: relative;
    z-index: 10;
}

.info__container{
    position: relative;
    z-index: 10;
}

.info__title{
    position: relative;
    color: #fffff0;
    font-weight: 300;
    font-size: 80px;
    z-index: 10;
    display: flex;
    align-items: center;
}
.likes{
    color: #dc281e;
}

.info__title i{
    font-size: 40px;
    margin: 0 20px 0 40px;
}
.fas.fa-plus.primary{
    margin-left: 0;
}

.info__btn{
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding: 25px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    color: #fffff0;
    background-color: rgba(37, 181, 217, .7);
    transition: .5s;
    cursor: pointer;
    border: none;
}
.info__btn::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fffff0;
    border-left: 2px solid #fffff0;
    top: 0;
    left: 0;
    transition: .2s;
}
.info__btn::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid #fffff0;
    border-right: 2px solid #fffff0;
    right:0;
    bottom: 0;
    transition: .3s;
}
.info__btn:hover::after{
    width: 280px;
    height: 95px;
}
.info__btn:hover::before{
    width: 280px;
    height: 95px;
}


/* ----------SECTION ABOUT---------- */

.section__about{
    padding-top: 35px;
    border-bottom: 3px solid #25b5d9;
    background-color: #fffff0;
}

.about__container{
    width: 50%;
    margin: 0 auto;
}

.about__title{
   font-family: 'Roboto Slab', serif;
   font-weight: 400;
   font-size: 30px;
   padding: 30px 0 30px 0;
   text-align: center;
}

.about__parrafo{
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0 100px 0;
    text-align: justify;
}

/* ----------SECTION SERVICES---------- */

.section__services{
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .9);
    border-bottom: 3px solid #25b5d9;
    padding-bottom: 50px;
}

.services__title{
    padding: 40px 0;
    color: #fffff0;
    font-weight: 300;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.card__container{
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card{
    border: 1px solid #25b5d9;
    position: relative;
    height: 300px;
    background-color: rgb(255, 255, 240);
    display: flex;
    width: 43%;
    margin: 30px 0;
}
.card__img img{
    max-width: 150px;
    transition: .5s ease-in-out;
}
.card:hover .card__img img{
    max-width: 125px;
}

.card__img{
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: .5s ease-in-out;
}

.card:hover .card__img{
    width: 170px;
    height: 170px;
    left: -85px;
    top: calc(50% - 85px);
    transition: .5s ease-in-out;
    background-color: #25b5d9;
}

.card__img::before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 240, .1);
    font-weight: 700;
}

.card__content{
    position: absolute;
    right: 0;
    width: calc(100% - 85px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__content h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.card__content a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #333;
    text-decoration: none;
    color: #fffff0;
}

/* ----------SECTION METODOLOGIA---------- */

.section__metod{
    padding-top: 20px;
    background-color: #fffff0;
    border-bottom: 3px solid #25b5d9;
}

.section__metod__title{
    font-size: 60px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.metod__container{
    width: 70%;
    margin: 0 auto;
}

.metod__container__item{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.metod__img img{
    width: 250px;
    padding: 15px;
}

.metod__parrafo__container{
    padding: 15px;
}

.metod__parrafo__title{
    margin-bottom: 15px;
    font-size: 32px;
}

.metod__parrafo{
    text-align: justify;
    font-size: 18px;
}

/* ----------SECTION CONTACTO---------- */

.section__contact{
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .9);
    border-bottom: 3px solid #25b5d9;
}

.contact__container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: #fffff0;
    padding: 50px 0;
}

.contact__redes h3{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    width: 60%;
}

.contact__redes__parrafo{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
    width: 85%;
}

.redes__container{
    margin-bottom: 20px;
}

.redes__container img{
    width: 80px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 10px;
}

.redes__container a {
    margin-left: 10px;
}

.contact__aditional p {
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 10px;
}

.contact__aditional i {
    margin-right: 10px;
}

.contact__form{
    display: flex;
    flex-direction: column;
}

.contact__form label{
    font-size: 22px;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5px;
}

.form__btn{
    width: 200px;
    font-size: 22px;
    padding: 15px;
    margin-top: 20px;
    margin: 25px auto 0 auto;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fffff0;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}
.form__btn:hover{
    background-color: #25b5d9;
    color: #fffff0;
}

.contact__form input{
    height: 45px;
    width: 550px;
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact__form textarea {
    padding:5px;
    font-size: 18px;
    border-radius: 5px;
}

/* ----------FOOTER---------- */

.footer{
    background-color: #fffff0;
}

.footer__container{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

.footer__p__web {
    color: #515A5A ;
    font-size: 18px;
}

.footer__p__movil{
    display: none;
}

.footer img {
    width: 150px;
}


/* ----------MEDIA QUERYS---------- */

@media screen and (max-width:1200px){

    .metod__container{
        width: 90%;
    }


    .metod__parrafo__title{
        font-size: 26px;
    }

    .metod__parrafo{
        font-size: 16px;
    }

    .metod__img img{
        width: 200px;
    }


    .header__list{
        width: 500px;
        font-size: 16px;
    }

    .info__title{
        font-size: 60px;
    }

    .contact__container{
        width: 85%;
    }

    .contact__redes__parrafo{
        font-size: 16px;
    }

    .contact__redes h3{
        font-size: 22px;
    }
    
    .contact__aditional p {
        font-size: 16px;
    }
}

@media screen and (max-width:992px){

    .metod__container__item{
        display: block;
    }

    .metod__parrafo{
    }

    .metod__img img{
        display: none;
    }

    .about__title{
        font-size: 26px;
    }

    .about__parrafo{
        font-size: 18px;
    }
    .info__title i {
        font-size: 20px;
    }

    .info__title{
        font-size: 40px;
    }

    .header__img{
        display: none;
    }

    .card__container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 450px;
    }

    .contact__container{
        flex-direction: column;
    }

    .contact__form input{
        width: 100%;
    }

    .contact__redes{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #25b5d9;
    }
}

@media screen and (max-width:768px){
    .metod__container{
       width: 100%;
    }

    .services__title{
        font-size: 45px;
    }
    .card{
      max-width: 350px;
      flex-direction: column;
      height: auto;
  }

    .card__img{
      position: relative;
  }

    .card__img,
    .card:hover .card__img{
      width: 100%;
      height: 200px;
      left: 0;
  }

    .card__img img,
    .card:hover .card__img img{
      max-width: 100px;
  }

    .card__content{
      position: relative;
      width: 100%;
  }
}

@media screen and (max-width:450px){

    .header.active{
        min-height: 40px;
    }

    .header__list{
        width: 350px;
        font-size: 12px;
    }

    .info__logo img{
        width: 200px;
    }

    .info__title{
        font-size: 16px;
    }
    .info__title i {
        font-size: 12px;
        margin: 0 10px 0 15px ;
    }

    .about__container{
        width: 85%;
    }

    .about__title{
        font-size: 18px;
    }

    .about__parrafo{
        font-size: 14px;
    }

    .services__title{
        font-size: 28px;
    }

    .section__metod__title{
        font-size: 28px;
    }

    .metod__parrafo__title{
        font-size: 20px;
    }

    .metod__parrafo{
        font-size: 16px;
        text-align: justify;
    }

    .contact__redes__parrafo{
        font-size: 14px;
        width: 100%;
    }

    .contact__form label{
        font-size: 18px;
    }

    .contact__redes h3{
        width: 100%;
    }

    .footer__p__web{
        display: none;
    }

    .footer__p__movil{
        display: block;
    }
}

